In [5]:
# import required modules
import os
import pandas as pd
import requests, json, time
from dotenv import load_dotenv

In [6]:
# loading api_key from .env file
load_dotenv()
API_KEY = os.getenv('API_KEY')

In [7]:
# loading district_coordinates
df = pd.read_csv("district_coordinates.csv")
df.head()

   id district_name      lat     long
0   1      Bagerhat  22.6516  89.7859
1   2     Bandarban  22.1953  92.2184
2   3       Barguna  22.0953  90.1121
3   4       Barisal  22.7010  90.3535
4   5         Bhola  22.6859  90.6482

In [21]:
# seperating lat and llong values
LAT = df['lat']
LONG = df['long']